.main {
  margin-top: 6rem;
  margin-left: 10%;
  font-size: 5rem;
  display: flex;
}

.main h1 {
  color: rgba(248, 109, 112, 1);
  font-size: 3rem;
}

.main section {
  margin: 2rem;
}
.splash {
  bottom: 0;
  position: absolute;
}

.skills {
  margin-left: 3rem;

  font-size: 2.5rem;
  display: flex;
}

.skillHeading {
  color: rgba(108, 99, 255, 1);
}

.hobbies {
  margin-left: 3rem;
  font-size: 1.7rem;
}

.resume {
  font-size: 1.7rem;
}

@media screen and (max-width: 500px) {
  .main {
    margin-top: 10rem;
    margin-left: 10%;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
  }
}
